In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression as LR
from sklearn.linear_model import RandomizedLogisticRegression as RLR

Read XLS
---

In [21]:
filename = 'data/bankloan.xls'
data = pd.read_excel(filename)

In [29]:
data.to_csv("data/bankloan.csv")

Read CSV
---
Rename the first column, "num", and set as the index of data

In [5]:
csvfile = 'data/bankloan.csv'
data = pd.read_csv(csvfile,index_col=0)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 0 to 699
Data columns (total 9 columns):
year          700 non-null int64
education     700 non-null int64
worktime      700 non-null int64
address       700 non-null int64
Salary        700 non-null int64
loan          700 non-null float64
CreditLoan    700 non-null float64
OtherLoan     700 non-null float64
violation     700 non-null int64
dtypes: float64(3), int64(6)
memory usage: 54.7 KB

In [6]:
x = data.iloc[:,:8].as_matrix()
y = data.iloc[:,8].as_matrix()

In [9]:
data.head(3)

,year,education,worktime,address,Salary,loan,CreditLoan,OtherLoan,violation
num,,,,,,,,,
0,41,3,17,12,176,9.3,11.359392,5.008608,1
1,27,1,10,6,31,17.3,1.362202,4.000798,0
2,40,1,15,14,55,5.5,0.856075,2.168925,0

In [10]:
x[0],y[:3]

(array([  41.      ,    3.      ,   17.      ,   12.      ,  176.      ,
           9.3     ,   11.359392,    5.008608]), array([1, 0, 0]))

In [12]:
rlr = RLR() 
rlr.fit(x, y)

RandomizedLogisticRegression(C=1, fit_intercept=True,
               memory=Memory(cachedir=None), n_jobs=1, n_resampling=200,
               normalize=True, pre_dispatch='3*n_jobs', random_state=None,
               sample_fraction=0.75, scaling=0.5, selection_threshold=0.25,
               tol=0.001, verbose=False)

In [13]:
rlr.get_support()

array([False, False,  True,  True, False,  True,  True, False], dtype=bool)

In [14]:
data.columns[:8]

Index(['year', 'education', 'worktime', 'address', 'Salary', 'loan',
       'CreditLoan', 'OtherLoan'],
      dtype='object')

In [15]:

print('RandomizedLogisticRegression')
print('Validated Classifiers %s' % ','.join(data.columns[:8][rlr.get_support()]))

RandomizedLogisticRegression
Validated Classifiers worktime,address,loan,CreditLoan

In [16]:
x = data[data.columns[:8][rlr.get_support()]].as_matrix() #É¸Ñ¡ºÃÌØÕ÷

lr = LR() 
lr.fit(x, y) 
print('Logistic Resgression')
print(u'Accuracy of model: %s' % lr.score(x, y)) #¸ø³öÄ£ÐÍµÄÆ½¾ùÕýÈ·ÂÊ£¬±¾ÀýÎª81.4%

Logistic Resgression
Accuracy of model: 0.814285714286

In [45]:
data.columns[:8][rlr.get_support()],data.columns[8]

(Index(['worktime', 'address', 'loan', 'CreditLoan'], dtype='object'),
 'violation')

In [30]:
items=data.columns[:8][rlr.get_support()]
len(items)

4

In [24]:
lr.coef_[0]

array([[-0.2433602 , -0.08225004,  0.08637053,  0.57323798]])

In [44]:
print("Logistic Regression Fit Result")
print(" ln(p/(1-p))= ")
result=""#lr.coef_[0][0]+items[0]
for i in range(len(items)):    
     print("\t",lr.coef_[0][i]," x ",items[i]," + ")

Logistic Regression Fit Result
 ln(p/(1-p))=
	 -0.243360199788  x  worktime  +
	 -0.0822500409415  x  address  +
	 0.086370527455  x  loan  +
	 0.573237978146  x  CreditLoan  +